/* Enter your custom styles here */
.sapMSLI {
  height: 10vh !important;
  /* font-size: larger !important; */
  font-weight: 900 !important;
}
.emplText .sapMInputBaseInner{
  font-size: medium!important;
  font-weight: 600 !important;
}